# 서울시 인구 분석

<img src='https://raw.githubusercontent.com/Jangrae/img/master/people2.png' width="650" align="left">

## 1. 라이브러리 불러오기

- 사용할 라이브러리를 불러옵니다.

In [1]:
import pandas as pd

* 데이터 불러오기

    - 다음 경로의 파일을 읽어와 pop01, pop02, pop03 데이터프레임을 만듭니다.
    - 파일 경로1: https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv
    - 파일 경로2: https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv
    - 파일 경로3: https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h03.csv

In [2]:
pop01 = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h01.csv')

In [3]:
pop02 = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h02.csv')

In [4]:
pop03 = pd.read_csv('https://raw.githubusercontent.com/Jangrae/csv/master/seoul_pop_h03.csv')

## 2. 데이터 탐색

다음과 같은 정보 확인을 통해 처리할 대상 데이터를 이해합니다.
- 상/하위 데이터 확인
- 데이터프레임 크기 확인
- 열 이름, 데이터 형식, 값 개수 등 확인
- 기초 통계정보 확인
- 결측치 확인
- 범주형 데이터 확인
- 개별 열 값 상세 확인 등

**1) 데이터프레임 크기 확인**

- 세 개의 데이터프레임 크기(행 수, 열 수)를 확인합니다.

In [5]:
pop01.shape, pop02.shape, pop03.shape

((40, 3), (36, 3), (40, 3))

**2) year 최솟값, 최댓값 확인**

- 세 개의 데이터프레임 year열 최솟값, 최댓값 크기를 비교해 차이가 있는 지 각각 확인합니다.

In [7]:
pop01.describe() #1981-2020

              year       k_male     k_female
count    40.000000    40.000000    40.000000
mean   2000.500000  4982.550000  5025.525000
std      11.690452   365.083408   339.917485
min    1981.000000  4160.000000  4191.000000
25%    1990.750000  4893.500000  5018.250000
50%    2000.500000  5062.500000  5122.500000
75%    2010.250000  5158.750000  5159.500000
max    2020.000000  5500.000000  5435.000000

In [9]:
pop02.describe() #1985-2020

              year      f_male    f_female
count    36.000000   36.000000   36.000000
mean   2002.500000   65.472222   69.472222
std      10.535654   51.371747   57.121168
min    1985.000000    5.000000    4.000000
25%    1993.750000   20.500000   18.500000
50%    2002.500000   42.500000   45.500000
75%    2011.250000  122.250000  132.500000
max    2020.000000  137.000000  148.000000

In [8]:
pop03.describe() #1981-2020

              year    household     older_65
count    40.000000    40.000000    40.000000
mean   2000.500000  3493.300000   711.150000
std      11.690452   732.856624   398.925644
min    1981.000000  1915.000000   211.000000
25%    1990.750000  3202.500000   408.750000
50%    2000.500000  3555.000000   573.000000
75%    2010.250000  4179.000000  1018.250000
max    2020.000000  4418.000000  1568.000000

**3) 결측치 확인**

- 세 개의 데이터프레임에 결측치가 있는 지 각각 확인합니다.

In [10]:
pop01.isna().sum()

year        0
k_male      0
k_female    0
dtype: int64

In [12]:
pop02.isna().sum()

year        0
f_male      0
f_female    0
dtype: int64

In [11]:
pop03.isna().sum()

year         0
household    0
older_65     0
dtype: int64

**4) 열 정보 확인**

- 세 개의 데이터프레임의 열 정보를 확인합니다.

In [13]:
pop01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      40 non-null     int64
 1   k_male    40 non-null     int64
 2   k_female  40 non-null     int64
dtypes: int64(3)
memory usage: 1.1 KB

In [14]:
pop02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   year      36 non-null     int64
 1   f_male    36 non-null     int64
 2   f_female  36 non-null     int64
dtypes: int64(3)
memory usage: 992.0 bytes

In [15]:
pop03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   year       40 non-null     int64
 1   household  40 non-null     int64
 2   older_65   40 non-null     int64
dtypes: int64(3)
memory usage: 1.1 KB

## 3. 데이터 전처리

전처리 과정에서 다음과 같은 처리를 할 수 있습니다.

- 결측치 처리
- 값 변경
- 열 추가
- 불필요한 열 제거
- 열 이름 변경
- 데이터 통합(연결 또는 조인)
- 가변수화 등

**1) 데이터 통합**

- concat을 사용해 연결하면 인덱스 값을 기준으로 연결되어 데이터가 어긋납니다.
- **year** 열을 기준으로 **outer** 방식으로 조인(병합)합니다.
- 외국인 정보가 1981 ~ 1984년이 누락되어 결측치가 발생할 것입니다.
- 세 개의 데이터프레임을 병합(조인)하여 pop 데이터프레임을 선언합니다.
- 이후의 모든 작업은 pop 데이터프레임을 대상으로 진행합니다.

In [26]:
pop_temp = pd.merge(pop01, pop03, how='outer', on='year')

In [27]:
pop_temp.shape

(40, 5)

In [28]:
pop = pd.merge(pop_temp, pop02, how='outer', on='year')

**2) 결측치 확인**

- 결측치가 있는지 확인합니다.

In [29]:
pop.shape

(40, 7)

In [30]:
pop.isna().sum()

year         0
k_male       0
k_female     0
household    0
older_65     0
f_male       4
f_female     4
dtype: int64

In [31]:
pop.head()

   year  k_male  k_female  household  older_65  f_male  f_female
0  1981    4160      4191       1915       246     NaN       NaN
1  1982    4160      4191       2001       260     NaN       NaN
2  1983    4160      4191       2116       260     NaN       NaN
3  1984    4160      4191       2246       275     NaN       NaN
4  1985    4160      4191       2338       211     7.0       6.0

**3) 결측치 처리**

- 연도별 인구 현황이므로 임의의 값을 채우는 것이 바람직하지 않아 보입니다.
- 이후 값, 즉 1985년 값으로 채우는 것도 정확한 분석을 방해할 것 같습니다.
- 이에 결측치가 있는 1981년~1984년 행을 제거할 것입니다.

In [32]:
pop = pop.dropna(axis=0)
pop

    year  k_male  k_female  household  older_65  f_male  f_female
4   1985    4160      4191       2338       211     7.0       6.0
5   1986    4899      4888       2428       305     7.0       5.0
6   1987    5000      4979       2518       329     6.0       5.0
7   1988    5156      5120       2658       349     5.0       5.0
8   1989    5305      5261       2817       363     6.0       5.0
9   1990    5321      5282       2820       363     5.0       4.0
10  1991    5468      5405       3330       424    18.0      14.0
11  1992    5500      5435       3383       434    19.0      16.0
12  1993    5478      5412       3431       445    19.0      17.0
13  1994    5409      5351       3456       454    21.0      19.0
14  1995    5302      5249       3448       460    24.0      21.0
15  1996    5231      5187       3457       469    27.0      25.0
16  1997    5187      5150       3499       485    28.0      25.0
17  1998    5147      5124       3459       505    27.0      24.0
18  1999    5141      5123       3491       530    30.0      28.0
19  2000    5167      5145       3540       560    32.0      30.0
20  2001    5142      5122       3570       586    34.0      34.0
21  2002    5109      5098       3624       613    36.0      37.0
22  2003    5085      5089       3715       650    49.0      54.0
23  2004    5075      5098       3780       693    54.0      61.0
24  2005    5062      5105       3871       736    61.0      68.0
25  2006    5062      5119       3979       787    83.0      92.0
26  2007    5063      5130       4046       852   111.0     118.0
27  2008    5062      5139       4098       899   123.0     132.0
28  2009    5059      5149       4117       943   122.0     134.0
29  2010    5111      5201       4224      1008   125.0     137.0
30  2011    5074      5176       4193      1049   135.0     145.0
31  2012    5041      5154       4178      1111   118.0     129.0
32  2013    5008      5136       4182      1167   118.0     126.0
33  2014    4980      5123       4194      1222   129.0     137.0
34  2015    4931      5091       4190      1268   133.0     142.0
35  2016    4877      5054       4190      1301   131.0     143.0
36  2017    4830      5027       4220      1365   128.0     140.0
37  2018    4774      4992       4264      1416   137.0     147.0
38  2019    4744      4985       4328      1485   134.0     148.0
39  2020    4702      4967       4418      1568   115.0     128.0

**3) 열 추가**

- 이후 분석의 편의를 위해 다음과 같은 의미를 갖는 열을 추가하고자 합니다.
    - k_total = 전체 한국인 인구수
    - f_total = 전체 외국인 인구수
    - male = 전체 남자 인구수
    - female = 전체 여자 인구수
    - total = 전체 인구수
- 추가할 열에 대한 공식은 다음과 같습니다.
    - k_total = k_male + k_female
    - f_total = f_male + f_female
    - male = k_male + f_male
    - female = k_female + f_female
    - total = k_total + f_total
- 정리한 공식에 따라 데이터프레임에 열을 추가합니다.

In [33]:
pop['k_total'] = pop['k_female'] + pop['k_male']
pop['f_total'] = pop['f_female'] + pop['f_male']
pop['male'] = pop['k_male'] + pop['f_male']
pop['female'] = pop['k_female'] + pop['f_female']
pop['total'] = pop['k_total'] + pop['f_total']
pop.head()

,year,k_male,k_female,household,older_65,f_male,f_female,k_total,f_total,male,female,total
4,1985,4160,4191,2338,211,7.0,6.0,8351,13.0,4167.0,4197.0,8364.0
5,1986,4899,4888,2428,305,7.0,5.0,9787,12.0,4906.0,4893.0,9799.0
6,1987,5000,4979,2518,329,6.0,5.0,9979,11.0,5006.0,4984.0,9990.0
7,1988,5156,5120,2658,349,5.0,5.0,10276,10.0,5161.0,5125.0,10286.0
8,1989,5305,5261,2817,363,6.0,5.0,10566,11.0,5311.0,5266.0,10577.0

**4) 열 순서 변경**

- 데이터 이해를 돕기 위해 다음과 같은 순서로 데이터프레임 열 순서를 변경합니다.
- year, household, total, male, female, k_total, k_male, k_female, f_total, f_male, f_female, older_65

In [34]:
pop = pop[['year', 'household', 'total', 'male', 'female', 'k_total', 'k_male', 'k_female', 'f_total', 'f_male', 'f_female', 'older_65']]
pop.head()

,year,household,total,male,female,k_total,k_male,k_female,f_total,f_male,f_female,older_65
4,1985,2338,8364.0,4167.0,4197.0,8351,4160,4191,13.0,7.0,6.0,211
5,1986,2428,9799.0,4906.0,4893.0,9787,4899,4888,12.0,7.0,5.0,305
6,1987,2518,9990.0,5006.0,4984.0,9979,5000,4979,11.0,6.0,5.0,329
7,1988,2658,10286.0,5161.0,5125.0,10276,5156,5120,10.0,5.0,5.0,349
8,1989,2817,10577.0,5311.0,5266.0,10566,5305,5261,11.0,6.0,5.0,363

**5) 인덱스 초기화**



- 인덱스가 0부터 시작하는 일련 변호를 갖지 않는다면 인덱스를 초기화합니다.

In [35]:
pop.reset_index(drop=True, inplace=True)
pop.head()

,year,household,total,male,female,k_total,k_male,k_female,f_total,f_male,f_female,older_65
0,1985,2338,8364.0,4167.0,4197.0,8351,4160,4191,13.0,7.0,6.0,211
1,1986,2428,9799.0,4906.0,4893.0,9787,4899,4888,12.0,7.0,5.0,305
2,1987,2518,9990.0,5006.0,4984.0,9979,5000,4979,11.0,6.0,5.0,329
3,1988,2658,10286.0,5161.0,5125.0,10276,5156,5120,10.0,5.0,5.0,349
4,1989,2817,10577.0,5311.0,5266.0,10566,5305,5261,11.0,6.0,5.0,363

## 4. 추가 전처리

* x, y 구분

    - x : feature
    - y : target <- total

In [36]:
x = pop.drop('total', axis=1)
y = pop['total']

In [37]:
x, y

(    year  household    male  female  k_total  k_male  k_female  f_total  \
 0   1985       2338  4167.0  4197.0     8351    4160      4191     13.0
 1   1986       2428  4906.0  4893.0     9787    4899      4888     12.0
 2   1987       2518  5006.0  4984.0     9979    5000      4979     11.0
 3   1988       2658  5161.0  5125.0    10276    5156      5120     10.0
 4   1989       2817  5311.0  5266.0    10566    5305      5261     11.0
 5   1990       2820  5326.0  5286.0    10603    5321      5282      9.0
 6   1991       3330  5486.0  5419.0    10873    5468      5405     32.0
 7   1992       3383  5519.0  5451.0    10935    5500      5435     35.0
 8   1993       3431  5497.0  5429.0    10890    5478      5412     36.0
 9   1994       3456  5430.0  5370.0    10760    5409      5351     40.0
 10  1995       3448  5326.0  5270.0    10551    5302      5249     45.0
 11  1996       3457  5258.0  5212.0    10418    5231      5187     52.0
 12  1997       3499  5215.0  5175.0    10337    5187      5150     53.0
 13  1998       3459  5174.0  5148.0    10271    5147      5124     51.0
 14  1999       3491  5171.0  5151.0    10264    5141      5123     58.0
 15  2000       3540  5199.0  5175.0    10312    5167      5145     62.0
 16  2001       3570  5176.0  5156.0    10264    5142      5122     68.0
 17  2002       3624  5145.0  5135.0    10207    5109      5098     73.0
 18  2003       3715  5134.0  5143.0    10174    5085      5089    103.0
 19  2004       3780  5129.0  5159.0    10173    5075      5098    115.0
 20  2005       3871  5123.0  5173.0    10167    5062      5105    129.0
 21  2006       3979  5145.0  5211.0    10181    5062      5119    175.0
 22  2007       4046  5174.0  5248.0    10193    5063      5130    229.0
 23  2008       4098  5185.0  5271.0    10201    5062      5139    255.0
 24  2009       4117  5181.0  5283.0    10208    5059      5149    256.0
 25  2010       4224  5236.0  5338.0    10312    5111      5201    262.0
 26  2011       4193  5209.0  5321.0    10250    5074      5176    280.0
 27  2012       4178  5159.0  5283.0    10195    5041      5154    247.0
 28  2013       4182  5126.0  5262.0    10144    5008      5136    244.0
 29  2014       4194  5109.0  5260.0    10103    4980      5123    266.0
 30  2015       4190  5064.0  5233.0    10022    4931      5091    275.0
 31  2016       4190  5008.0  5197.0     9931    4877      5054    274.0
 32  2017       4220  4958.0  5167.0     9857    4830      5027    268.0
 33  2018       4264  4911.0  5139.0     9766    4774      4992    284.0
 34  2019       4328  4878.0  5133.0     9729    4744      4985    282.0
 35  2020       4418  4817.0  5095.0     9669    4702      4967    243.0

     f_male  f_female  older_65
 0      7.0       6.0       211
 1      7.0       5.0       305
 2      6.0       5.0       329
 3      5.0       5.0       349
 4      6.0       5.0       363
 5      5.0       4.0       363
 6     18.0      14.0       424
 7     19.0      16.0       434
 8     19.0      17.0       445
 9     21.0      19.0       454
 10    24.0      21.0       460
 11    27.0      25.0       469
 12    28.0      25.0       485
 13    27.0      24.0       505
 14    30.0      28.0       530
 15    32.0      30.0       560
 16    34.0      34.0       586
 17    36.0      37.0       613
 18    49.0      54.0       650
 19    54.0      61.0       693
 20    61.0      68.0       736
 21    83.0      92.0       787
 22   111.0     118.0       852
 23   123.0     132.0       899
 24   122.0     134.0       943
 25   125.0     137.0      1008
 26   135.0     145.0      1049
 27   118.0     129.0      1111
 28   118.0     126.0      1167
 29   129.0     137.0      1222
 30   133.0     142.0      1268
 31   131.0     143.0      1301
 32   128.0     140.0      1365
 33   137.0     147.0      1416
 34   134.0     148.0      1485
 35   115.0     128.0      1568  ,
 0      8364.0
 1      9799.0
 2      9990.0
 3     10286.0
 4     10577.0
 5     10612.0
 6     10905.0
 7     10970.0
 8     10926.0
 9     10800.0
 10    10596.0
 11    10470.0
 12    10390.0
 13    10322.0
 14    10322.0
 15    10374.0
 16    10332.0
 17    10280.0
 18    10277.0
 19    10288.0
 20    10296.0
 21    10356.0
 22    10422.0
 23    10456.0
 24    10464.0
 25    10574.0
 26    10530.0
 27    10442.0
 28    10388.0
 29    10369.0
 30    10297.0
 31    10205.0
 32    10125.0
 33    10050.0
 34    10011.0
 35     9912.0
 Name: total, dtype: float64)

* train test split

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42)

In [40]:
train_x.shape

(25, 11)

In [42]:
train_y.shape

(25,)

* Scaling

    - min-max scaling

In [43]:
from sklearn.preprocessing import MinMaxScaler

In [44]:
mmscaler = MinMaxScaler()

In [47]:
train_x = mmscaler.fit_transform(train_x)
test_x = mmscaler.fit_transform(test_x)

In [48]:
pd.DataFrame(train_x).describe()

,0,1,2,3,4,5,6,7,8,9,10
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,0.484706,0.623015,0.708994,0.777129,0.702198,0.672955,0.733698,0.445818,0.445455,0.443056,0.410330
std,0.324099,0.324631,0.188880,0.187415,0.187714,0.198041,0.182179,0.404781,0.400179,0.406329,0.304512
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.176471,0.498492,0.696746,0.754386,0.678019,0.626866,0.721865,0.083636,0.098485,0.069444,0.167190
50%,0.529412,0.691960,0.735207,0.809410,0.713622,0.673881,0.754823,0.341818,0.333333,0.347222,0.344584
75%,0.735294,0.924623,0.790680,0.856459,0.758901,0.751493,0.800643,0.894545,0.886364,0.888889,0.625589
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## 5. 모델링

* 모델 선언

In [49]:
from sklearn.linear_model import LinearRegression

In [51]:
model = LinearRegression()

* 모델 학습

In [52]:
model.fit(train_x, train_y)

LinearRegression()

* 학습한 모델 기반으로 예측값 생성

In [53]:
test_predict = model.predict(test_x)

In [54]:
test_predict.shape

(11,)

In [58]:
test_y

35     9912.0
13    10322.0
26    10530.0
30    10297.0
16    10332.0
31    10205.0
21    10356.0
12    10390.0
8     10926.0
17    10280.0
9     10800.0
Name: total, dtype: float64

In [57]:
test_predict

array([ 8523.85621779,  9509.99221401,  9902.41993779,  9373.80927122,
        9523.5837625 ,  9162.4280387 ,  9540.75660245,  9665.18425978,
       10951.93730439,  9399.49626314, 10650.07743244])

## 6. 평가

In [50]:
from sklearn.metrics   import mean_squared_error

In [56]:
mean_squared_error(test_predict, test_y, squared=False )

829.0929750194039