# 안녕하세요^^ 
# AIVLE 미니 프로젝트에 오신 여러분을 환영합니다.
* 본 과정에서는 실제 사례와 데이터를 기반으로 문제를 해결하는 전체 과정을 자기 주도형 실습으로 진행해볼 예정입니다.
* 앞선 교육과정을 정리하는 마음과 지금까지 배운 내용을 바탕으로 문제 해결을 해볼게요!
* 미니 프로젝트를 통한 문제 해결 과정 'A에서 Z까지', 지금부터 시작합니다!

---

In [ ]:
# 필요 라이브러리부터 설치할께요.
!pip install pandas seaborn

---

# (실습준비) 데이터 불러오기부터

In [1]:
import pandas as pd

# 학습 데이터 로딩
air_21 = pd.read_csv("air_2021.csv", sep=',', index_col = 0, encoding = 'utf-8' )
air_22 = pd.read_csv("air_2022.csv", sep=',', index_col = 0, encoding = 'utf-8' )
weather_21 = pd.read_csv("weather_2021.csv", sep = ',', encoding='cp949')
weather_22 = pd.read_csv("weather_2022.csv", sep = ',', encoding='cp949')

---

# 1. 이상치/결측치 처리

#### [실습문제1] 미세먼지 데이터 결측치 처리
* 미세먼지 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.


* 앞서 데이터 불러오기 및 분석 단계에서 확인한 불필요한 변수에 대해 제거 해 주세요.

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

#### [실습문제2] 날씨 데이터 결측치 처리
* 날씨 데이터의 결측치를 확인하고 결측치가 존재한다면 처리해주세요.

* '강우량'을 어떻게 해야할까요?

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

#### [실습문제3] air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성하기


* air_21, air_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [2]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
air_21['time'] = air_21['측정일시'] - 1
air_22['time'] = air_22['측정일시'] - 1
air_21['time'] = pd.to_datetime(air_21['time'], format='%Y%m%d%H')
air_22['time'] = pd.to_datetime(air_22['time'], format='%Y%m%d%H')

In [ ]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.

#### [실습문제4] weather_21, weather_22 의 '일시'를 활용하여 'time'변수 생성하기


* weather_21, weather_22 의 '측정일시'를 활용하여 'time'변수 생성


* time 변수를 datatime으로 데이터 타입 변경하기

In [3]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
weather_21['time'] = pd.to_datetime(weather_21['일시'])
weather_22['time'] = pd.to_datetime(weather_22['일시'])

---

# 2. 데이터 합치기
* 미세먼지 데이터와 날씨 데이터를 'time' 기준으로 합쳐보겠습니다

#### [실습문제5] 데이터 합치기
* 'df_21','df_22'에 21년도와 22년도의 미세먼지, 날씨 데이터를 합쳐 넣도록 하겠습니다.

In [4]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
df_21 = pd.merge(air_21, weather_21, how='inner', on='time')
df_22 = pd.merge(air_22, weather_22, how='inner', on='time')

#### [실습문제6] 각종 인자 추가 및 사용하지 않을 변수 제거

* 새로운 인자를 추가 하세요.


* 머신러닝에 사용하지 않을 변수들을 제거해줍니다.

In [6]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8759 entries, 0 to 8758
Data columns (total 51 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지역             8759 non-null   object
 1   망              8759 non-null   object
 2   측정소코드          8759 non-null   int64
 3   측정소명           8759 non-null   object
 4   측정일시           8759 non-null   int64
 5   SO2            8647 non-null   float64
 6   CO             8679 non-null   float64
 7   O3             8662 non-null   float64
 8   NO2            8679 non-null   float64
 9   PM10           8654 non-null   float64
 10  PM25           8662 non-null   float64
 11  주소             8759 non-null   object
 12  time           8759 non-null   datetime64[ns]
 13  지점             8759 non-null   int64
 14  지점명            8759 non-null   object
 15  일시             8759 non-null   object
 16  기온(°C)         8759 non-null   float64
 17  기온 QC플래그       0 non-null      float64
 18  강수량(mm)        949 non-null    float64
 19  강수량 QC플래그      1763 non-null   float64
 20  풍속(m/s)        8757 non-null   float64
 21  풍속 QC플래그       2 non-null      float64
 22  풍향(16방위)       8757 non-null   float64
 23  풍향 QC플래그       2 non-null      float64
 24  습도(%)          8759 non-null   int64
 25  습도 QC플래그       0 non-null      float64
 26  증기압(hPa)       8759 non-null   float64
 27  이슬점온도(°C)      8759 non-null   float64
 28  현지기압(hPa)      8759 non-null   float64
 29  현지기압 QC플래그     0 non-null      float64
 30  해면기압(hPa)      8759 non-null   float64
 31  해면기압 QC플래그     0 non-null      float64
 32  일조(hr)         4791 non-null   float64
 33  일조 QC플래그       3968 non-null   float64
 34  일사(MJ/m2)      4791 non-null   float64
 35  일사 QC플래그       3968 non-null   float64
 36  적설(cm)         379 non-null    float64
 37  3시간신적설(cm)     29 non-null     float64
 38  전운량(10분위)      8757 non-null   float64
 39  중하층운량(10분위)    8759 non-null   int64
 40  운형(운형약어)       4947 non-null   object
 41  최저운고(100m )    4547 non-null   float64
 42  시정(10m)        8759 non-null   int64
 43  지면상태(지면상태코드)   0 non-null      float64
 44  현상번호(국내식)      2125 non-null   float64
 45  지면온도(°C)       8754 non-null   float64
 46  지면온도 QC플래그     24 non-null     float64
 47  5cm 지중온도(°C)   8754 non-null   float64
 48  10cm 지중온도(°C)  8754 non-null   float64
 49  20cm 지중온도(°C)  8754 non-null   float64
 50  30cm 지중온도(°C)  8754 non-null   float64
dtypes: datetime64[ns](1), float64(37), int64(6), object(7)
memory usage: 3.5+ MB

In [7]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
use_cols = ['time', 'SO2', 'CO', 'O3', 'NO2', 'PM10', 'PM25', '기온(°C)', '강수량(mm)', '풍속(m/s)', '습도(%)']
df_21 = df_21[use_cols]
df_22 = df_22[use_cols]

In [8]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
df_21 = df_21.set_index('time').sort_index()
df_22 = df_22.set_index('time').sort_index()

In [9]:
df_21['강수량(mm)'] = df_21['강수량(mm)'].fillna(0)
df_22['강수량(mm)'] = df_22['강수량(mm)'].fillna(0)

In [10]:
df_21 = df_21.fillna(method='ffill')
df_22 = df_22.fillna(method='ffill')

#### [실습문제7] 미세먼지 농도 다음시점 데이터 생성

* t+1 시점 데이터 생성

In [11]:
# 아래에 실습코드를 작성하고 결과를 확인합니다
df_21['month'] = df_21.index.month
df_21['day'] = df_21.index.day
df_21['hour'] = df_21.index.hour

df_22['month'] = df_22.index.month
df_22['day'] = df_22.index.day
df_22['hour'] = df_22.index.hour

In [12]:
df_21['PM10_lag1'] = df_21['PM10'].shift(24)
df_22['PM10_lag1'] = df_22['PM10'].shift(24)

In [13]:
df_21['PM10_1'] = df_21['PM10'].shift(-1)
df_22['PM10_1'] = df_22['PM10'].shift(-1)

In [14]:
df_21.dropna(inplace=True)
df_22.dropna(inplace=True)

---

# 3. train / test split

#### [실습문제7] 데이터셋 나누기 

* 데이터셋을 train(21년도 데이터), test(22년도 데이터)로 나눠 csv로 저장하도록 하겠습니다.


* train_x / train_y / test_x / test_y 로 나누세요.


* train_x.csv / train_y.csv / test_x.csv / test_y.csv 로 저장하세요.

In [15]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
target = 'PM10_1'

train_x = df_21.drop(target, axis=1)
train_y = df_21[target]
test_x = df_22.drop(target, axis=1)
test_y = df_22[target]

In [16]:
# 아래에 실습코드를 작성하고 결과를 확인합니다.
train_x.to_csv('train_x.csv', encoding='UTF-8', index=False)
train_y.to_csv('train_y.csv', encoding='UTF-8', index=False)
test_x.to_csv('test_x.csv', encoding='UTF-8', index=False)
test_y.to_csv('test_y.csv', encoding='UTF-8', index=False)

---