### WebCrawing
- 웹페이지의 종류
    - 정적페이지 : 페이지의 데이터가 변경될 때 URL이 변경 : Html
    - 동적페이지 : 페이지의 데이터가 변경될 때 URL이 변경 X : Json
- requests package
    - 브라우져의 URL을 입력하면 서버에서 데이터를 다운받아 화면에 출력 : URL입력 > Data 가져옴
    - requests 패키지 : URL > Data

### Naver Stock Data
- Kospi 주가 지수
- Kosdaq 주가 지수
- USD : 원달러 환율

In [2]:
# 필요한 패키지 import
import requests
import pandas as pd

In [ ]:
# 1. ** 웹서비스를 분석 ** : 크롬 개발자도구 사용(트래픽 확인) > URL 얻음
# https://m.stock.naver.com/

In [3]:
url = "https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=4"

In [ ]:
# 2. requests > response : JSON(str)

In [5]:
response = requests.get(url)
response

In [7]:
response.text[:200]

'[{"localTradedAt":"2022-06-22","closePrice":"2,342.81","compareToPreviousClosePrice":"-66.12","compareToPreviousPrice":{"code":"5","text":"하락","name":"FALLING"},"fluctuationsRatio":"-2.74","openPrice"'

In [ ]:
# 3. JSON(str) > list, dict > DataFrame 출력

In [8]:
data = response.json()
type(data), data[:1]

(list,
 [{'localTradedAt': '2022-06-22',
   'closePrice': '2,342.81',
   'compareToPreviousClosePrice': '-66.12',
   'compareToPreviousPrice': {'code': '5', 'text': '하락', 'name': 'FALLING'},
   'fluctuationsRatio': '-2.74',
   'openPrice': '2,417.11',
   'highPrice': '2,418.05',
   'lowPrice': '2,342.81'}])

In [12]:
df = pd.DataFrame(data)[["localTradedAt", "closePrice"]]
df.tail(2)

  localTradedAt closePrice
8    2022-06-10   2,595.87
9    2022-06-09   2,625.44

In [ ]:
# 4. 함수 만들기
# param : pagesize, page

In [20]:
def stock_price(pagesize, page):
    url = f"https://m.stock.naver.com/api/index/KOSPI/price?pageSize={pagesize}&page={page}"
    
    response = requests.get(url)
    data = response.json()
    
    return pd.DataFrame(data)[["localTradedAt", "closePrice"]]

In [21]:
stock_price(30, 4)

   localTradedAt closePrice
0     2022-03-25   2,729.98
1     2022-03-24   2,729.66
2     2022-03-23   2,735.05
3     2022-03-22   2,710.00
4     2022-03-21   2,686.05
5     2022-03-18   2,707.02
6     2022-03-17   2,694.51
7     2022-03-16   2,659.23
8     2022-03-15   2,621.53
9     2022-03-14   2,645.65
10    2022-03-11   2,661.28
11    2022-03-10   2,680.32
12    2022-03-08   2,622.40
13    2022-03-07   2,651.31
14    2022-03-04   2,713.43
15    2022-03-03   2,747.08
16    2022-03-02   2,703.52
17    2022-02-28   2,699.18
18    2022-02-25   2,676.76
19    2022-02-24   2,648.80
20    2022-02-23   2,719.53
21    2022-02-22   2,706.79
22    2022-02-21   2,743.80
23    2022-02-18   2,744.52
24    2022-02-17   2,744.09
25    2022-02-16   2,729.68
26    2022-02-15   2,676.54
27    2022-02-14   2,704.48
28    2022-02-11   2,747.71
29    2022-02-10   2,771.93